# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# PyCharm project files
.idea/
*.iml

# Python-related files (if using Python in your project)
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.venv/
env/
venv/
.Python
.mypy_cache/
.pytest_cache/
coverage/

# Build directories
build/
dist/

# Frontend build directories
client/build/
client/dist/

# Temporary files
*.swp
*.swo
*.tmp
*.bak
*.sw~

# Package lock files
package-lock.json
yarn.lock
